.card1{
margin: 70px auto;
float: none;
margin-bottom: 10px;
padding: 4em;
height: 19em;
width: 26em;
background-color: rgba(0,0,0,0.5) !important;
font-family: "Cambria", "Hoefler Text", "Liberation Serif", "Times", "Times New Roman", "serif";
color: #adebad;
font-size: 22px;
border-radius: 250px 250px 250px 250px;
box-shadow: 20px 20px 50px 20px black;

}

button:hover {
    opacity: 0.8;
}
