body {
  font-weight: 900;
  font-size: 24px !important;
  font-family: system-ui, -apple-system, sans-serif;
  letter-spacing: -1px;
  padding: 0 0 2rem 2rem;
}

h5 {
  margin-bottom: 3.5rem;
  color: black;
}

#accountsList {
  background-color: #d5d294;
  color: #454545;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
}
#accountsList:hover {
 text-shadow: 0px 0px 1px black;
}

#addAccount {
  background-color:#c1d3af;
  color: #454545;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
}
#addAccount:hover {
  text-shadow: 0px 0px 1px black;
}
#archive {
  background-color:#a3b2d3;
  color: #454545;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
}
#archive:hover {
  text-shadow: 0px 0px 1px black;
}
