.row {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.col {
    flex: 1;
	padding: 15px;
}

.row > .col:first-child {
    max-width: 200px;
}

.row > .col:last-child {
	background: #014421;
}

.flex {
	display: flex;
}

.wrap {
	flex-wrap: wrap;
}

.column {
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-space-between {
	justify-content: space-between;
}

.text-center {
    text-align: center;
}



