body {
  font-weight: 900;
  font-size: 36px;
  font-family: system-ui, -apple-system, sans-serif;
  letter-spacing: -1px;
  padding: 0 0 2rem 2rem;
  background-color: #fafafa !important;
}

#backgroundImage2 {
 background: url(../../../assets//images//users.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
 }