body {
  font-weight: 900;
  font-size: 36px;
  font-family: system-ui, -apple-system, sans-serif;
  letter-spacing: -1px;
  padding: 0 0 2rem 2rem;
  background-color: #fafafa !important;
}
/* #backgroundImage {
  z-index: -1;
} */
#backgroundImage {
 background: url(../../../assets//images//financeBcg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}