body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login {
background-image: url('./assets/images//beliz.png');
background-size: contain;
height: 680px;
padding: 10px;
}

.bg2-custom {
   background: #0f3c0f;
    color: #ecfaec;
    padding: 20px;
}

.welcome {
  color: white;
  background-color: black;
}

.budgetCalculator {
  background: #228b22;
  color: white;
  font-family: "Roboto", sans-serif;
}

.bg3-custom {
  background-color: black;
  color: white;
  background-size: contain;
  height: 680px;
  padding: 10px;
}

